<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>개발테스트페이지</title>
</head>
<body>
지역 코드를 입력해 주십시오

    <input type="text" id="areaCd">
    <button id="save">save</button>


</body>
<script>
//document.getElementById('save').addEventListener("click", function(event){
//    console.log("넌또왜");
    var url = 'https://www.opinet.co.kr/api/areaCode.do?out=json&code=F211229279&area=01';
    var options = {
     method: "POST",
     mode: 'no-cors',
     headers: {
        "Content-Type": "application/json",
     },
    }
    ///////////////////



    fetch(url, options)
    .then((response) => console.log("성공, response:", response))
    .catch((error) => console.log("실패, error:", error));



    ///////////////////
//});

</script>
</html>