<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>개발테스트페이지</title>
</head>
<body>
지역 코드를 입력해 주십시오

    <input type="text" id="areaCd">
    <button id="save">save</button>


</body>
<script>
//테스트 페이지입니다 접근은 여기로 >> http://localhost:8090/adminManage
//var url = 'http://www.opinet.co.kr/api/areaCode.do?out=json&code=F211229279&area=01/';

    fetch("/manage/getArea",{method: "POST",body: "02"})
     .then((response) => response.json())
     .then((data) => console.log(data));



</script>
</html>