<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="#">
    <title>만땅! - 전국 주유소 가격비교</title>

    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"  />
    <link rel="stylesheet" type="text/css" href="/css/styles.css"  />

    <link rel="stylesheet" type="text/css" href="/css/mapOverlay.css"  />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

    <!--kakao map-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e2655f50cb1af7a42b707f072a111beb"></script>

    <!--tabulator-->
    <link href="https://unpkg.com/tabulator-tables@5.4.2/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.2/dist/js/tabulator.min.js"></script>

    <!--page manage-->
    <script type="text/javascript" src="/js/locationData.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <!---->
    <link rel="stylesheet" type="text/css" href="/css/tabulator_bootstrap5.min.css">


</head>
<body class="sb-nav-fixed">
    <input type="hidden" th:value="${info}" id="info">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" id="headerMenu">
        <!--메뉴구성 : common.headerLoad-->
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <!--메뉴구성 : common.navLoad-->
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">유가확인</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">가격은 매일 1시, 2시, 9시, 12시, 16시, 19시에 업데이트 됩니다</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-search me-1"></i>
                            검색조건
                        </div>
                        <div class="card-body">
                            <!-------------------------검색조건--------------------------------------------->
                            <div class="section">
                                <div class="section-body">
                                    <div class="form-group row my-1">
                                        <label class="col-lg-1 col-form-label">지역</label>
                                        <div class="col-lg-3">
                                            <select class="form-control next_line" name="searchSido" id="searchSido">
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <select class="form-control next_line" name="searchGungu" id="searchGungu">
                                            </select>
                                        </div>
                                    </div>
                                    <!---->
                                    <div class="form-group row my-1">
                                        <label class="col-lg-1 col-form-label">주유소명</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" id="gasStation" name="gasStation" value="" title="" maxlength="" placeholder="주유소명 검색 ex)보라매">
                                        </div>
                                        <div class="col-lg-6">
                                            <button type="button" id="searchByName" class="btn btn-primary">검색</button>
                                        </div>
                                    </div>
                                    <!---->
                                    <div class="form-group row my-1">
                                        <label class="col-lg-1 col-form-label">유종</label>
                                        <div class="col-lg-6 my-1" id="priceSortRadio">
                                            <label for="gasoline">휘발유</label><input type="radio" id="gasoline" name="priceSort" value="B027" checked>
                                            <label for="diesel">경유</label><input type="radio" id="diesel" name="priceSort" value="D047">
                                            <label for="high-grade-gasoline">고급휘발유</label><input type="radio" id="high-grade-gasoline" name="priceSort" value="B034">
                                            <label for="indoor-kerosene">실내등유</label><input type="radio" id="indoor-kerosene" name="priceSort" value="C004">
                                            <label for="butane">자동차부탄</label><input type="radio" id="butane" name="priceSort" value="K015">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------------------------------------------->
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-list me-1"></i>
                                    리스트
                                </div>
                                <div class="card-body">
                                    <!-------------------------------------------------------------------->
                                    <div id="listTabulator" class="table"></div>
                                    <!-------------------------------------------------------------------->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-map me-1"></i>
                                    지도
                                </div>
                                <div class="card-body">
                                    <!-------------------------------------------------------------------->
                                    <div id="map" class="map" ></div>
                                    <!-------------------------------------------------------------------->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>